html
head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= "Error"
    link(rel="stylesheet", type="text/css", href="error.css")
body
    h1= "Uh-oh, there seems to be a problem..."
    h2(data-testid="errorMsg")= message
    img(src="nooo.jpg")