$color-primary: #87A236;
$color-dark: #607914;
$color-darker: #3D5100;
$color-darker-plus: #303d00;
$color-light: #B1CA65;
$color-lighter: #DFF2A2;

$color-toast-text: (whitesmoke !important);
$color-toast-success: (#4BB543 !important);
$color-toast-failure: (#F31431 !important);
$toast-font-size: (1em !important);

$margin-default: 20px;
$transition-default: 0.5s;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color-primary;
    color: whitesmoke;
    font-family: "Roboto", "sans-serif";

    h1, h2 {
        text-align: center;
        margin-top: $margin-default * 2;
        margin-bottom: $margin-default * 2;
        margin-left: $margin-default;
        margin-right: $margin-default;
    }

    form {
        text-align: center;
        margin-top: $margin-default * 2;
    }
}

.btn {
    padding: 5px;
    background-color: $color-dark;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    margin-bottom: $margin-default;
    transition: $transition-default;

    &:hover {
        background-color: $color-darker;
        cursor: pointer;
    }

    &:active {
        background-color: $color-darker-plus;
    }

    &:focus {
        outline: thin dotted;
    }
}

.toast-generic {
    font-size: $toast-font-size;
    border-radius: (5px !important);
}

.toast-success {
    background-color: $color-toast-success;
}

.toast-failure {
    background-color: $color-toast-failure;
}

.formContainer {
    position: relative;
    width: 300px;
    margin-left: auto;
    margin-right: auto;

    input {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    button {
        margin-top: 10px;
    }

    label {
        margin-bottom: $margin-default;
    }
}

input {
    padding: 5px;
    transition: $transition-default;
    outline: none;
    border-radius: 10px;
    border: 2px solid $color-dark;

    &:focus {
        border: 2px solid black;
    }
}
