@import "sass_globals";

$post-width: 70%;
$post-padding: 15px;
$post-border-width: 5px;
$post-border-radius: 10px;
$post-button-width: 50px;
$textarea-width: 500px;
$textarea-height: 100px;

.post-container {
    background-color: $color-lighter;
    color: black;
    border: $post-border-width $color-dark solid;
    border-radius: $post-border-radius;
    width: $post-width;
    padding: $post-padding;
    margin-bottom: $margin-default * 2;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    overflow-wrap: break-word;
    hyphens: auto;

    .post-btn {
        float: right;
        width: $post-button-width;
        margin-left: 10px;
    }

    .post-info {
        font-size: 0.8em;
        text-align: left;
    }

    .post-text {
        margin-top: 10px;
        white-space: pre-wrap;
    }
}

.post-editable {
    width: $post-width;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

textarea {
    width: $textarea-width;
    height: $textarea-height;
    margin-bottom: $margin-default;
    margin-left: auto;
    margin-right: auto;
    resize: none;
    border: $post-border-width $color-dark solid;
    border-radius: $post-border-radius;
    padding: 10px;

    &:focus {
        outline: thin dotted;
    }
}

.counter-container {
    font-size: 0.7em;
    margin-bottom: 5px;
}

#logout-btn {
    margin-left: $margin-default;
    margin-top: $margin-default;
}

.cancel-btn {
    margin-right: 10px;
}
