@import "sass_globals";

.formContainer {
    position: relative;
    width: 300px;
    margin-left: auto;
    margin-right: auto;

    input {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    button {
        margin-top: 10px;
    }

    label {
        margin-bottom: $margin-default;
    }
}

input {
    padding: 5px;
    transition: $transition-default;
    outline: none;
    border-radius: 10px;
    border: 2px solid $color-dark;

    &:focus {
        border: 2px solid black;
    }
}
